.title{
    font-family: 'Roboto Slab', serif;
    font-size: 55px;
    font-weight: 900;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 25px;
}

.content{
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.content_1{
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    line-height: 25px;
}

.content_2{
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    line-height: 25px;
}

.imagen-iot{
    width: auto;
}

.imagen-iot img{
    width: 100%;
}

