<div class="container-fluid p-0 mt-5">
    <div class="row justify-content-between m-0">
        <div class="col-lg-6 mt-5">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="title">
                        <p>Descripcion del producto</p>
                    </div>
                    <div class="content_1 mt-5">
                        <p>TempSimple ofrece un comodo sistema de monitoreo de temperaturas corporales usando componentes de IoT de buena calidad, el sistema le permite llevar un control de sus temperaturas, hacer reservas en clinicas locales.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <h1 class="text-center">TempSimple IoT</h1>
            <img src="../../../assets/img/system_screen.png" alt="demoSystem" class="system">
            <button class="btn btn-success mt-5 mb-5" (click)="goToDemo()"> Ver demo</button>
        </div>
    </div>
</div>