.title{
    color: rgba(255, 255, 255, 0.8);
    font-size: 25px;
    font-family: 'Roboto Slab', serif;

}

.content_1{
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}

.btn-success{
    border-radius: 25px;
    position: relative;
    left: 230px;
}

.text-center{
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Roboto Slab', serif;
}

.system{
    width: 600px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px black;
}