<div class="container-fluid p-0 mt-5">
    <div class="row justify-content-center mb-5 m-0">
        <div class="col-lg-6 text-center">
            <p>Servicios</p>
        </div>
    </div>
    <div class="row justify-content-between m-0">
        <div class="col-lg-4">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="card">
                        <img src="../../../assets/img/service1.jpg" alt="">
                    </div>
                    <div class="card-body text-center-1">
                        <h2>Nuevas funcionalidades</h2>
                        <p class="text">Acorde a las necesidades del cliente</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="card">
                        <img src="../../../assets/img/service2.jpg" alt="">
                    </div>
                    <div class="card-body text-center-1">
                        <h2>Soluciones personalizadas</h2>
                        <p class="text">Reemplazo y refaccion de componentes</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="card">
                        <img src="../../../assets/img/service3.jpg" alt="">
                    </div>
                    <div class="card-body text-center-1">
                        <h2>Soporte tecnico</h2>
                        <p class="text">Soluciones economicas, eficaces acorde a las necesidades de los clientes</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>