.text-center{
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 40px;
}

.text-center-1{
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;
}

.card{
    border-radius: 25px;
    text-align: center;
    margin-top: 10px;
}

.card:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
}

.card img{
    border-radius: 25px;
    width: 100%;
}

.col-lg-10:hover{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 25px;
}
