<div class="container-fluid p-0 mt-5 mb-5">
    <div class="row justify-content-center m-0">
        <div class="col-lg-6 text-center mb-5 contact">
            <p>Contactanos</p>
        </div>
    </div>
    <div class="row justify-content-center m-0">
        <div class="col-lg-6 datos">
            <ul>
                <li>Correo: tempsimple@gmail.com</li>
                <li>Telefono: 78588196 - 3557284</li>
                <li>Direccion: Santa Cruz de la sierra, zona centro, calle mexico # 53</li>
            </ul>
            
        </div>
        <div class="col-lg-6">
            <div class="imagen-ubicacion">
                <img src="../../../assets/img/ubicacion.png" alt="">
            </div>
        </div>
    </div>
</div>